.signin-button, .signup-button {
    color: black;
    margin: 2px;
    background-color: #bfe1d5;    
    cursor: pointer;
    border-radius: 8px; /* Adjust the value as needed for the desired roundness */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Adjust the values for the shadow effect */
}

.signup-button {
    margin-right: 10px;
}

nav ul {
    list-style-type: none;
    margin-top: 15px;
    padding: 0;
    overflow: hidden;
    background-color: #CCD5AE;
}

a {
    text-decoration: none;
}

